/*
Theme Name: RS Road Skill Theme
Theme URI: http://loyaltymatters.co.uk
Description: Custom Wordpress Theme
Version: 1
Author: Manzurul Haque
Author URI: http://loyaltymatters.co.uk
Tags: powerful, cheat, sheet
*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,700|Oswald:400,300,700|Open+Sans:400,300,300italic,400italic,600,700,800);

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
p{
    color: #4c4c4c;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul li{
    
	
}
.header{
    margin-bottom: -20px;
}
/*----------- social book mark -----------------*/
.social-bookmark {
    background: #333333;
    color: #d2d2d2;
    font-weight: 400;
    padding: 10px 4% 0 0;
    width: 100%;
}
.social-bookmark ul{
    float: right;
}
.social-bookmark ul li{
    display: inline-block;
    font-size: 12px;
    padding: 0 5px;
}
.fa.fa-phone, .fa.fa-envelope{
    color: #96B850;
}
.vertical-line {
    border-right: 1px solid #C2C2C2;
    margin: 0 5px;
}
.fa.fa-facebook, .fa.fa-twitter, .fa.fa-linkedin, .fa.fa-youtube{
    color: #C2C2C2;
}
/*----------------------- nav css ------------------------*/
.navbar{
	background: #fff;
    border: none;
}
.nav.navbar-nav.navbar-right a {
    color: #373737;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1px;
	text-transform:uppercase;
	padding:0 15px;
}
.navbar-brand img {
    margin-top: -40px;
    z-index: 99999;
    position: absolute;
}
.nav.navbar-nav.navbar-right {
    margin: 10px 0;
}
.navbar-nav li a {
    border-right: 1px solid #ccc;
    padding-bottom: 2px;
    padding-top: 2px;
}
/*
.navbar-nav li {
    float: left;
    padding-top: 15px;
}
*/
/*----------------------------- slide css-----------------------*/
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    height: auto;
    width: 100%
}
.carousel-inner > .item {
    background-size: 100% auto !important;
}
.carousel-caption {
   left: 15%;
   right: 15%;
   top: 10%;
}
.carousel-caption h1{
    font-weight: 500;
    font-size: 42px;
    text-align: left;
    
}
.carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    text-align: left;
    color: #fff;
}
.banner1-img{
    float: right;
    margin-top: -245px;
    width: 32%;
}
.banner2-img{
    float: right;
    margin-top: -170px;
    width: auto;
}
.carousel-control.left, .carousel-control.right {
    background: none;
}
.carousel-indicators {
    left: 18%;
}
.carousel-indicators .active {
    background-color: #fff;
    height: 15px;
    margin: 0 3px 0 0;
    width: 15px;
}
.carousel-indicators li {
    background: #bcc0c6;
    border: none;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 3px;
}
/*----- more-about-roadSkill
================================================--------------------*/
.more-about-roadSkill{
    border-top: 10px solid #026A3D;
    background: #E3E3E3;
    padding: 25px 0 35px;
}
.more-about-roadSkill p{
    color: #006c3e;
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
}

.more-about-roadSkill p span{
    display: block;
    width: 80%;
    margin-right: 5px;
    float: left;
}
.more-about-roadSkill img{
    margin-top: 45px;
    float: right;
}

/*----------------- service details --------------------*/
.service-details {
    margin: 85px 0 65px;
}
.service-details img{}
.service-details h2{
    color: #006c3e;
    font-size: 25px;
    text-align: center;
}
.service-details p{
    color: #4c4c4c;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}
.service-details a img{
    text-align: center;
    margin-left: 35%;
}

/*------------------- service----------------*/
.service {
    background: #F2F2F2;
    padding: 60px 0 70px;
}
.service h2{
    color: #006c3e;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}
.service p{
    color: #4c4c4c;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}
.service-item p{
    text-align: justify;
}
.service img{}
.service h3{
    color: #006c3e;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}
/*-------------------- org-testimonial -------------------*/
.org-testimonial{
    background: url(images/testimonial_bg.png) no-repeat center center;
	background-size:cover;
    padding: 73px 0;
}
.org-testimonial img{
    border-radius: 50%;
    margin: 25px 0 0;
}
.org-testimonial h3{
    color: #fff;
    font-size: 19px;
    font-weight: 400;
}
.org-testimonial span{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/*--------------- footer -------------------*/
footer{
    background: #1a402b;
    padding: 70px 0 0;
}
footer ul li a{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.footer-menu{
    width: 11%;
}
.service-menual{
    width: 15%;
}
.driving-info{
    margin-left: -3%;
    width: 14%;
}
.footer-logo{
    width: 10%;
}
.call-back{
    float: right;
}
.call-back h3{
    color: #fff;
    margin: 0 0 11px;
}
.footer-site-link img{
    float: left;
    position: absolute;
}
.footer-site-link {
    margin-top: 85px;
}
.footer-site-link p {
    color: #fff;
    float: right;
    font-size: 12px;
    margin-left: 50px;
    margin-top: 5px;
    position: absolute;
}
.call-back input{
    border: none;
    border-radius: 0;
    height: 25px;
    padding: 2px;
    margin: 4px 0;
    width: 97%;
}
.call-back button, .call-back .wpcf7-submit{
    background: #82B848;
    border: 2px solid #82B848;
    border-radius: 2px;
    color: #fff;
    float: right;
    height: 25px;
    margin: 2px 7px 0;
    width: 80px;
	font-size:14px;

}
.call-back button:hover {
    background: none;
}
.call-back p{
    color: #fff;
    font-size: 10px;
}
.call-back ul li{
    display: inline-block;
}
.copy-write {
    padding-bottom: 40px;
}
.copy-write p{
    color: #fff;
}
.copy-write span{
    color: #fff;
    float: right;
}



/*------------- About css
======================================================================-----*/
.about-banner{
    background: url(images/slider1-bg.jpg)
}
.about-banner h1{
    color: #fff;
     
    font-weight: 500;
    margin-top: 150px;
}
.about-banner img{
    margin-top: 95px;
}
.about-roadSkill iframe{
    float: right;
}
.about-roadSkill {
    background: #E3E3E3;
    border-top: 10px solid #006B3D;
    margin-top: -33px;
    padding: 65px 0 65px;
}


.about-roadSkill h2{
    color: #006c3e;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}
.about-roadSkill p{
    font-size: 13px;
    padding: 15px 0 0;
    text-align: justify;
}
.about-roadSkill ul{}
.about-roadSkill ul li, .about-roadskill-more ul li{
    color: #4c4c4c;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: justify;
    list-style: disc;
    margin-left: 15px;
}
.about-roadskill-more{
    padding: 85px 0 90px;
}
.about-con .about-roadSkill:nth-child(3),
.about-con .about-roadSkill:nth-child(5),
.about-con .about-roadSkill:nth-child(7),
.about-con .about-roadSkill:nth-child(9),
.about-con .about-roadSkill:nth-child(11),
.about-con .about-roadSkill:nth-child(13),
.about-con .about-roadSkill:nth-child(15){ border:none;}

.about-con .about-roadSkill:nth-child(2),
.about-con .about-roadSkill:nth-child(4),
.about-con .about-roadSkill:nth-child(6),
.about-con .about-roadSkill:nth-child(8),
.about-con .about-roadSkill:nth-child(10),
.about-con .about-roadSkill:nth-child(12),
.about-con .about-roadSkill:nth-child(14) {
    background: #fff;
    border-top:0;
    margin-top:0;
    padding: 65px 0 65px;
}
 
.about-con .about-roadSkill:nth-child(2) .text,
.about-con .about-roadSkill:nth-child(4) .text,
.about-con .about-roadSkill:nth-child(6) .text,
.about-con .about-roadSkill:nth-child(8) .text,
.about-con .about-roadSkill:nth-child(10) .text,
.about-con .about-roadSkill:nth-child(12) .text,
.about-con .about-roadSkill:nth-child(14) .text{ float:right;}

.about-con .about-roadSkill:nth-child(2) .videocon,
.about-con .about-roadSkill:nth-child(4) .videocon,
.about-con .about-roadSkill:nth-child(6) .videocon,
.about-con .about-roadSkill:nth-child(8) .videocon,
.about-con .about-roadSkill:nth-child(10) .videocon,
.about-con .about-roadSkill:nth-child(12) .videocon,
.about-con .about-roadSkill:nth-child(14) .videocon{ float:left; text-align:left;}

.about-con .about-roadSkill:nth-child(2) .videocon iframe,
.about-con .about-roadSkill:nth-child(4) .videocon iframe,
.about-con .about-roadSkill:nth-child(6) .videocon iframe,
.about-con .about-roadSkill:nth-child(8) .videocon iframe,
.about-con .about-roadSkill:nth-child(10) .videocon iframe,
.about-con .about-roadSkill:nth-child(12) .videocon iframe,
.about-con .about-roadSkill:nth-child(14) .videocon iframe{ float:left; text-align:left;}


.about-roadskill-more h2{
    color: #227952;
    margin: 0;
}
.about-roadskill-more iframe{
    float: left;
}
.about-roadskill-more p{
    font-size: 13px;
    padding: 25px 0 0;
    text-align: justify;
}
.about-roadskill-more ul li{
    list-style: disc;
}
/*--------------meet-the-team----------------*/
.meet-the-team{
    background: #F2F2F2;
    padding: 55px 0 0;
}
.meet-the-team h2{
    color: #006c3e;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.meet-the-team p{
    text-align: center;
    font-weight: 400;
}
.meet-the-team{}
/*-------- team member --------------*/
.team-member{
    padding: 25px 0 90px;
}
.team-member img{
    border-radius: 50%;
    float: right;
    margin: 22px 0 0;
}
.team-member h3{
    color: #006A3c;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
}
.team-member p{
    text-align: justify;
    margin: 15px 0 0;
}
/*--------- slide array -----------*/
.slick-prev::before, .slick-next::before {
  color: #006A3C;
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
}

.slick-slide { width:50%;}


/*-----   FORS css
===============================================================================---*/
.fors-banner{
    background: url(images/fors_banner_bg.png);
    width: 100%;
}
.fors-banner h1{
    color: #fff;
    float: left;
    font-size: 42px;
    font-weight: 500;
    margin: 125px 0 0 6px;
}
.fors-banner img{
    margin: 60px 0 0;
}

/*--------------------- FORS Workshops title --------------*/
.fors-workshop-title {
    background: #E3E3E3;
    border-top: 10px solid #006B3D;
    margin-top: -30px;
}
.fors-workshop-title h2{
    color: #006B3D;
    font-size: 25px;
    text-align: center;
    margin: 40px 0 0;
}
.fors-workshop-title h3{
    color: #484848;
    font-size: 21px;
    text-align: center;
    margin: 10px 0 50px;
}

/*-------------- fors-transport-Policy -----------*/
.fors-transport-Policy {
    background: #ffffff;
    width: 100%;
    padding: 50px 0 80px;
}
.fors-transport-Policy img{}
.fors-transport-Policy span{
    color: #25aae3;
    font-size: 21px;
    margin: 15px 0 0;
    text-align: left;
}
.fors-transport-Policy p{
    line-height: 2;
}
.fors-transport-Policy h3{
    font-size: 17px;
    font-weight: 600;
    text-align: left;
}
.fors-transport-Policy a img{
    margin-top: 45px;
}
/*--------fors-side-menual--------*/
.fors-side-menual {}
.fors-side-menual img{
    margin: 0 0 20px !important;
}
.fors-side-menual p{
    font-size: 13px;
    text-align: justify;
}
.fors-side-menual hr{}

/*----- BLOG banner
====================================================================-------*/
.blog-banner{
    background: url(images/blog-banner.png);
    height: 295px;
}
.blog-banner h1{
    color: #fff;
    font-size: 42px;
    font-weight: 500;
    margin: 135px 0 0 20px;
    text-align: left;
}

/*------------ blog titel ----------------*/
.blog-title {
    background: #E3E3E3;
    border-top: 10px solid #006B3D;
    margin-top: -30px;
}
.blog-title h2{
    color: #006c3e;
    font-size: 25px;
    text-align: center;
    margin: 40px 0 0;
}
.blog-title h3{
    color: #4c4c4c;
    font-size: 21px;
    text-align: center;
    margin: 10px 0 50px;
}
/*----- blog item------- */
.blog-itemA {
    background: #fff;
    padding: 70px 0;
}
.blog-itemA h2{
    color: #006c3e;
    font-size: 25px;
    text-align: left;
    font-weight: 600;
}
.blog-itemA p{
    text-align: justify;
}
.blog-itemA a img{
    margin-left: 35%;
}
.blog-itemA span{
    font-size: 13px;
}
.blog-item {
    background: #E3E3E3;
    margin:   10px;
    padding: 20px;
    width: 31%;
}

/*------------- 2nd part of blog item---------*/
.blog-itemB {
    background: #e3e3e3 none repeat scroll 0 0;
    padding: 70px 0;
}
.blog-itemB h2{
    color: #006c3e;
    font-size: 25px;
    text-align: left;
    font-weight: 600;
}

.blog-itemB p{
    text-align: justify;
}
.blog-itemB a img{
    margin-left: 35%;
}
.blog-items span{
    font-size: 13px;
}
.blog-items {
    background: #fff;
    margin: 0 10px;
    padding: 20px;
    width: 31%;
}






/*--------- CONTACT US css
==================================================================================-----*/
.contact-banner{
    background: url(images/contact_us_bannerBG.png);
    height: 295px;
    width: 100%;
}
.contact-banner h1{
    color: #fff;
    font-size: 42px;
    font-weight: 500;
    text-align: left;
    margin-top: 140px;
    margin-left: 2%;
}

.cat-con a.postimg img{ width:100%; margin:0 auto;}
/*------ contact information -------*/
.contact-info {
    background: #e3e3e3 none repeat scroll 0 0;
    color: #717171;
    border-top: 10px solid #006b3f;
    padding: 55px 0 60px;
}
.mail-submition h3 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
}

/*---- mail body css(input item)---------*/
.mail-body {
    font-size: 15px;
    font-weight: 600;
    padding-top: 25px;
}
.mail-body input {
    float: left;
    height: 40px;
    padding: 3px;
    width: 100%;
}
.mail-body img{
    margin-top: 20px;
}
.user-subject{
    margin-top: 20px;
}
.user-message{
    margin-top: 60px;
}
.user-message input{
    height: 180px;
}
.user-message textarea{
    height: 180px;
	width:100%;
}
.mail-body .wpcf7-submit {
    background: rgba(0, 0, 0, 0) url("images/send_button.png") no-repeat scroll 0 0;
    border: medium none;
    height: 49px;
    margin: 20px 0 0 -4px;
    padding: 0;
    width: 125px;
	font-size:0;
}
/*-------------- office location ---------------------*/
.office-location  h3, .follow-us h3 {
    font-weight: 600;
    margin-bottom: 15px;
}
.follow-us {
    margin-top: 30px;
}
.follow-us ul li{
    display: inline-block;
    padding: 0 2px;
}
@media (min-width: 768px) and (max-width: 991px) {

 .about-roadSkill iframe { width:100%; height:320px!important;}
 .org-testimonial .slick-slider {
    margin-bottom: 30px;
    width: 75% !important;
}
.meet-the-team .slick-slider {
    margin: 0;
    width: 100% !important;
}

.meet-the-team .slick-prev {
    left: -10px;
}
.meet-the-team .slick-next {
    right: -5px;
}
.call-back{ width:100%!important; clear:both; text-align:center; margin-top:35px;}
.footer-site-link img {
    float: left;
    position: relative;
}.footer-site-link {
    margin-top: 30px;
}
.col-sm-2, .col-sm-3{ width:20%;}
.copy-write, .copy-write .col-md-offset-4{ text-align:center;}
.copy-write span{ float:none;}
.copy-write .col-sm-5, .copy-write .col-sm-3{ width:100%;}
.fors-workshop-title .col-sm-8 { width:100%;}
}
@media (min-width: 481px) and (max-width: 767px) {
.slick-slider {
    margin-bottom: 30px;
    width: 75% !important;
}

.meet-the-team .slick-slider {
    margin: 0;
    width: 100% !important;
}

.meet-the-team .slick-prev {
    left: -10px;
}
.meet-the-team .slick-next {
    right: -5px;
}
.about-roadSkill iframe {
    float: right;
	width:100%!important;
}
.videocon{ width:100%;}

.footer-menu, .service-menual, .driving-info, .footer-logo{ text-align:center; width:100%; margin:0;}
.footer-site-link p {
    color: #fff;
    float: none;
    font-size: 12px;
    margin-left: 0;
    margin-top: 5px;
    position: relative;
}
.footer-site-link img {
    clear: both;
    float: none;
    position: relative;
}
.footer-site-link {
    clear: both;
    display: block;
    margin-top: 10px;
}.menu-footer-3-container{ text-align:center;}
.footer-logo img{ margin:0 auto; float:none;}
.copy-write, .copy-write .col-md-offset-4{ text-align:center;}
.copy-write span{ float:none;}
.office-location{ width:100%; clear:both; margin:25px 0; overflow:hidden;}
}

@media (min-width: 290px) and (max-width: 481px) {
.slick-slider {
    margin-bottom: 30px;
    width: 75% !important;
}

.meet-the-team .slick-slider {
    margin: 0;
    width: 100% !important;
}

.meet-the-team .slick-prev {
    left: -10px;
}
.meet-the-team .slick-next {
    right: -5px;
}
.about-roadSkill iframe {
    float: right;
	width:100%!important;
}
.videocon{ width:100%;}

.footer-menu, .service-menual, .driving-info, .footer-logo{ text-align:center; width:100%; margin:0;}
.footer-site-link p {
    color: #fff;
    float: none;
    font-size: 12px;
    margin-left: 0;
    margin-top: 5px;
    position: relative;
}
.footer-site-link img {
    clear: both;
    float: none;
    position: relative;
}
.footer-site-link {
    clear: both;
    display: block;
    margin-top: 10px;
}.menu-footer-3-container{ text-align:center;}
.footer-logo img{ margin:0 auto; float:none;}
.copy-write, .copy-write .col-md-offset-4{ text-align:center;}
.copy-write span{ float:none;}
}









